<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to <%= message %> page</p>
    <a href="/">Back to index</a>
  </body>
</html>
